ul.list {
  list-style-type: none;
  margin: 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
ul.list li {
  width: 20%;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
ul.list li a {
  background-color: #f8f8f8;
  color: #6296bb;
  border-radius: 5px;
  transition: 0.3s ease all;
  line-height: 1;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.list li a:hover {
  background: #e3f2fd;
  color: #477698;
  box-shadow: 0 0 60px inset;
  text-decoration: none;
}
