<div class="my-3">
  <h2>Operator</h2>
  <p>Square of numbers 1, 2, 3, 4, 5 </p>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Squares of all numbers
        </div>
        <div class="card-body">
          <ul id="opContainer">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Emit function
        </div>
        <div class="card-body">
          <ul id="opContainer3">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Squares of Odd numbers only
        </div>
        <div class="card-body">
          <ul id="opContainer2">
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>